<form [formGroup]="form" (ngSubmit)="save()" >
  <h1 mat-dialog-title>Settings</h1>
  <div mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <input
          formControlName="changeFrequencyDays"
          matInput
          placeholder="Change frequency (in days)"
        >
        <mat-error *ngIf="changeFrequencyDaysControl.hasError('required')">
          Change frequency is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="changeFrequencyDaysControl.hasError('min')">
          Change cycle must be at least a day long
        </mat-error>
        <mat-error *ngIf="changeFrequencyDaysControl.hasError('pattern')">
          Change frequency must be entered as number of days
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="countSkippedDays">
        Count skipped days
      </mat-checkbox>
    </div>
  </div>

  <div mat-dialog-actions>
    <button type="submit" mat-raised-button cdkFocusInitial color="primary">Save</button>
    <button mat-button (click)="close()">Cancel</button>
  </div>
</form>
