<div class="summary-container" fxLayoutAlign="center">
  <app-roundell diameter="500px" cssClasses="mat-elevation-z6 accentColorBG">
    <div class="summary-inner-container" fxFlexFill fxLayout="column" fxLayoutAlign="center">
      <div class="summary-settings" fxFlex="grow" fxLayout="row" fxLayoutAlign="end start">
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <div class="summary-text" fxFlex="grow" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div>Change contacts in</div>
        <div class="day-count" fxFlex="grow" fxLayoutAlign="center center">10</div>
        <div>days</div>
      </div>
      <div fxFlex="grow"></div>
    </div>
  </app-roundell>
</div>
