.summary-container {
  margin: 20px 0px;
}

.summary-inner-container {
  color: white;
}

.summary-settings {
  color: black;
}

.summary-text {
  font-size: 2rem;

  .day-count {
    font-weight: bolder;
    font-size: 6rem;
  }
}
